<main class="seccion contenedor">
    <h2> Proyectos Fundación<span class="logo__bold">Binara</span></h2>

    <div class="contenedor-proyectosmarcha">
        <div class="proyectomarcha">
            <picture>
                <source srcset="build/img/proyecto1.webp" type="image/webp">
                <source srcset="build/img/proyecto1.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/proyecto1.jpg" alt="proyecto1">
            </picture>

            <div class="contenido-proyecto">
                <h3>Proyecto 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab eius reiciendis delectus blanditiis,
                    dolor
                    aperiam facilis debitis sint at vero, consequatur, perspiciatis eligendi esse. Deserunt facere
                    soluta
                    labore quod magni.</p>
                    <p class="inversion">$2 500</p>
                
                <ul class="iconos-caracteristicas">
                    <li>
                        <img loading="lazy" src="build/img/icono1.svg" alt="Involucrados">
                        <p>200</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono2.svg" alt="Progreso">
                        <p>85%</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono3.svg" alt="icono">
                        <p>45</p>
                    </li>
                </ul>

                <a routerLink="/proyecto" class="boton-amarillo-block">Ver proyecto</a>
            </div> <!--.contenido-proyecto-->
        </div> <!--.proyectomarcha-->

        <div class="proyectomarcha">
            <picture>
                <source srcset="build/img/proyecto2.webp" type="image/webp">
                <source srcset="build/img/proyecto2.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/proyecto1.jpg" alt="proyecto2">
            </picture>

            <div class="contenido-proyecto">
                <h3>Proyecto 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab eius reiciendis delectus blanditiis,
                    dolor
                    aperiam facilis debitis sint at vero, consequatur, perspiciatis eligendi esse. Deserunt facere
                    soluta
                    labore quod magni.</p>
                <p class="inversion">$5 000</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <img loading="lazy" src="build/img/icono1.svg" alt="Involucrados">
                        <p>200</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono2.svg" alt="Progreso">
                        <p>85%</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono3.svg" alt="icono">
                        <p>45</p>
                    </li>
                </ul>

                <a routerLink="/proyecto" class="boton-amarillo-block">Ver proyecto</a>
            </div> <!--.contenido-proyecto-->
        </div> <!--.proyectomarcha-->

        <div class="proyectomarcha">
            <picture>
                <source srcset="build/img/proyecto3.webp" type="image/webp">
                <source srcset="build/img/proyecto3.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/proyecto1.jpg" alt="proyecto3">
            </picture>

            <div class="contenido-proyecto">
                <h3>Proyecto 3</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab eius reiciendis delectus blanditiis,
                    dolor
                    aperiam facilis debitis sint at vero, consequatur, perspiciatis eligendi esse. Deserunt facere
                    soluta
                    labore quod magni.</p>
                <p class="inversion">$1 000 000</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <img loading="lazy" src="build/img/icono1.svg" alt="Involucrados">
                        <p>200</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono2.svg" alt="Progreso">
                        <p>85%</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono3.svg" alt="icono">
                        <p>45</p>
                    </li>
                </ul>

                <a routerLink="/proyecto" class="boton-amarillo-block">Ver proyecto</a>
            </div> <!--.contenido-proyecto-->
        </div> <!--.proyectomarcha-->
        <div class="proyectomarcha">
            <picture>
                <source srcset="build/img/proyecto3.webp" type="image/webp">
                <source srcset="build/img/proyecto3.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/proyecto1.jpg" alt="proyecto3">
            </picture>

            <div class="contenido-proyecto">
                <h3>Proyecto 4</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab eius reiciendis delectus blanditiis,
                    dolor
                    aperiam facilis debitis sint at vero, consequatur, perspiciatis eligendi esse. Deserunt facere
                    soluta
                    labore quod magni.</p>
                <p class="inversion">$1 000 000</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <img loading="lazy" src="build/img/icono1.svg" alt="Involucrados">
                        <p>200</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono2.svg" alt="Progreso">
                        <p>85%</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono3.svg" alt="icono">
                        <p>45</p>
                    </li>
                </ul>

                <a routerLink="/proyecto" class="boton-amarillo-block">Ver proyecto</a>
            </div> <!--.contenido-proyecto-->
        </div> <!--.proyectomarcha-->
        <div class="proyectomarcha">
            <picture>
                <source srcset="build/img/proyecto3.webp" type="image/webp">
                <source srcset="build/img/proyecto3.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/proyecto1.jpg" alt="proyecto3">
            </picture>

            <div class="contenido-proyecto">
                <h3>Proyecto 5</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab eius reiciendis delectus blanditiis,
                    dolor
                    aperiam facilis debitis sint at vero, consequatur, perspiciatis eligendi esse. Deserunt facere
                    soluta
                    labore quod magni.</p>
                <p class="inversion">$1 000 000</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <img loading="lazy" src="build/img/icono1.svg" alt="Involucrados">
                        <p>200</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono2.svg" alt="Progreso">
                        <p>85%</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono3.svg" alt="icono">
                        <p>45</p>
                    </li>
                </ul>

                <a routerLink="/proyecto" class="boton-amarillo-block">Ver proyecto</a>
            </div> <!--.contenido-proyecto-->
        </div> <!--.proyectomarcha-->
        <div class="proyectomarcha">
            <picture>
                <source srcset="build/img/proyecto3.webp" type="image/webp">
                <source srcset="build/img/proyecto3.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/proyecto1.jpg" alt="proyecto3">
            </picture>

            <div class="contenido-proyecto">
                <h3>Proyecto 6</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab eius reiciendis delectus blanditiis,
                    dolor
                    aperiam facilis debitis sint at vero, consequatur, perspiciatis eligendi esse. Deserunt facere
                    soluta
                    labore quod magni.</p>
                <p class="inversion">$1 000 000</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <img loading="lazy" src="build/img/icono1.svg" alt="Involucrados">
                        <p>200</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono2.svg" alt="Progreso">
                        <p>85%</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono3.svg" alt="icono">
                        <p>45</p>
                    </li>
                </ul>

                <a routerLink="/proyecto" class="boton-amarillo-block">Ver proyecto</a>
            </div> <!--.contenido-proyecto-->
        </div> <!--.proyectomarcha-->
        <div class="proyectomarcha">
            <picture>
                <source srcset="build/img/proyecto3.webp" type="image/webp">
                <source srcset="build/img/proyecto3.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/proyecto1.jpg" alt="proyecto3">
            </picture>

            <div class="contenido-proyecto">
                <h3>Proyecto 7</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab eius reiciendis delectus blanditiis,
                    dolor
                    aperiam facilis debitis sint at vero, consequatur, perspiciatis eligendi esse. Deserunt facere
                    soluta
                    labore quod magni.</p>
                <p class="inversion">$1 000 000</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <img loading="lazy" src="build/img/icono1.svg" alt="Involucrados">
                        <p>200</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono2.svg" alt="Progreso">
                        <p>85%</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono3.svg" alt="icono">
                        <p>45</p>
                    </li>
                </ul>

                <a routerLink="/proyecto" class="boton-amarillo-block">Ver proyecto</a>
            </div> <!--.contenido-proyecto-->
        </div> <!--.proyectomarcha-->
        <div class="proyectomarcha">
            <picture>
                <source srcset="build/img/proyecto3.webp" type="image/webp">
                <source srcset="build/img/proyecto3.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/proyecto1.jpg" alt="proyecto3">
            </picture>

            <div class="contenido-proyecto">
                <h3>Proyecto 8</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab eius reiciendis delectus blanditiis,
                    dolor
                    aperiam facilis debitis sint at vero, consequatur, perspiciatis eligendi esse. Deserunt facere
                    soluta
                    labore quod magni.</p>
                <p class="inversion">$1 000 000</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <img loading="lazy" src="build/img/icono1.svg" alt="Involucrados">
                        <p>200</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono2.svg" alt="Progreso">
                        <p>85%</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono3.svg" alt="icono">
                        <p>45</p>
                    </li>
                </ul>

                <a routerLink="/proyecto" class="boton-amarillo-block">Ver proyecto</a>
            </div> <!--.contenido-proyecto-->
        </div> <!--.proyectomarcha-->
        <div class="proyectomarcha">
            <picture>
                <source srcset="build/img/proyecto3.webp" type="image/webp">
                <source srcset="build/img/proyecto3.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/proyecto1.jpg" alt="proyecto3">
            </picture>

            <div class="contenido-proyecto">
                <h3>Proyecto 9</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab eius reiciendis delectus blanditiis,
                    dolor
                    aperiam facilis debitis sint at vero, consequatur, perspiciatis eligendi esse. Deserunt facere
                    soluta
                    labore quod magni.</p>
                <p class="inversion">$1 000 000</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <img loading="lazy" src="build/img/icono1.svg" alt="Involucrados">
                        <p>200</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono2.svg" alt="Progreso">
                        <p>85%</p>
                    </li>
                    <li>
                        <img loading="lazy" src="build/img/icono3.svg" alt="icono">
                        <p>45</p>
                    </li>
                </ul>

                <a routerLink="/proyecto" class="boton-amarillo-block">Ver proyecto</a>
            </div> <!--.contenido-proyecto-->
        </div> <!--.proyectomarcha-->
    </div> <!--.contenedor-proyectomarcha-->
</main>