.footer{
    padding: calc($separacion / 2) 0;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenedor-footer{
        padding-top: calc($separacion / 2);
        @include tablet{
            min-height: 8rem;
        }
        
    }

    .copyright{
        color: $blanco;
        text-align: center;
        margin-block-end: 0rem;
    }

}