<footer class="footer seccion">
    <div class="contenedor contenedor-footer">

        <nav class="navegacion">
            <a href="nosotros.html">Nosotros</a>
            <a href="anuncios.html">Anuncios</a>
            <a href="blog.html">Blog</a>
            <a href="contacto.html">Contacto</a>
            <a href="proyectos.html">Proyectos</a>
            <a href="involucrate.html">Involúcrate</a>
        </nav>

    </div>

    <p class="copyright">Fundación Binara 2023 &copy;</p>

</footer>