<main class="contenedor seccion">
    <h1>Conoce sobre nosotros</h1>

    <div class="contenido-nosotros">
        <div class="imagen">
            <picture>
                <source srcset="build/img/nosotros.webp" type="image.webp">
                <source srcset="build/img/nosotros.jpg" type="image.jpeg">
                <img loading="lazy" src="build/img/nosotros.jpg" alt="Sobre nosotros">
            </picture>
        </div>
        <div class="texto-nosotros">
            <blockquote>
                X años de experiencia
            </blockquote>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, amet? Error, 
                a ab! Illum maxime quod eius, accusantium, quaerat dolore at perferendis 
                laboriosam optio voluptate unde amet alias iusto ab.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aperiam 
                porro sequi. Explicabo inventore, doloremque recusandae assumenda temporibus, 
                quos sed cumque iusto at porro error ut id vitae hic dicta.</p>
        </div>
    </div>
</main>

<main class="contenedor seccion">
    <h1>Nuestro equipo de trabajo</h1>

    <div class="iconos-nosotros">
        
        <div class="icono">
            <img src="build/img/temperatura.png" alt="Foto integrante" loading="lazy">
            <h4>PHD Directora Carmita Susasa Herrera García</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, itaque asperiores exercitationem eaque 
                repellat sit dolores error, deserunt rerum esse, suscipit et neque molestiae iste nam reprehenderit cupiditate. 
                Deserunt, maiores.</p>
        </div>
        <div class="icono">
            <img src="build/img/presion.png" alt="Foto integrante" loading="lazy">
            <h4>Ingeniero Carlos Andres Picón Peña</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, itaque asperiores exercitationem eaque 
                repellat sit dolores error, deserunt rerum esse, suscipit et neque molestiae iste nam reprehenderit cupiditate. 
                Deserunt, maiores.</p>
        </div>
        <div class="icono">
            <img src="build/img/contaminacion.png" alt="Foto integrante" loading="lazy">
            <h4>Ingenira Andrea Carolina Ortíz Jiménez</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, itaque asperiores exercitationem eaque 
                repellat sit dolores error, deserunt rerum esse, suscipit et neque molestiae iste nam reprehenderit cupiditate. 
                Deserunt, maiores.</p>
        </div>
        <div class="icono">
            <img src="build/img/temperatura.png" alt="Foto integrante" loading="lazy">
            <h4>Tecnólogo Jaime Fabricio Hurtado Martínez</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, itaque asperiores exercitationem eaque 
                repellat sit dolores error, deserunt rerum esse, suscipit et neque molestiae iste nam reprehenderit cupiditate. 
                Deserunt, maiores.</p>
        </div>
        <div class="icono">
            <img src="build/img/presion.png" alt="Foto integrante" loading="lazy">
            <h4>Geólogo Marco David Quinteros Zamora</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, itaque asperiores exercitationem eaque 
                repellat sit dolores error, deserunt rerum esse, suscipit et neque molestiae iste nam reprehenderit cupiditate. 
                Deserunt, maiores.</p>
        </div>
        <div class="icono">
            <img src="build/img/contaminacion.png" alt="Foto integrante" loading="lazy">
            <h4>Ingeniera Paola Carolina Reinoso Barros</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, itaque asperiores exercitationem eaque 
                repellat sit dolores error, deserunt rerum esse, suscipit et neque molestiae iste nam reprehenderit cupiditate. 
                Deserunt, maiores.</p>
        </div>
    </div>
</main>
