<header class="header inicio">
    <div class="contenedor contenido-header">
        <div class="barra">
            <a class="logo" routerLink="/inicio">
                <!-- <img src="build/img/logo.svg" alt="Logotipo de la Fundación"> -->
                <h1 class="logo__nombre">Fundación<span class="logo__bold">Binara</span></h1>
            </a>

            <nav class="navegacion" routerLinkActive="active">
                <a routerLink="/nosotros">Nosotros</a>
                <a href="anuncios.html">Anuncios</a>
                <a routerLink ="/blog">Blog</a>
                <a href="contacto.html">Contacto</a>
                <a routerLink="/proyectos">Proyectos</a>
                <a href="involucrate.html">Involúcrate</a>
            </nav>

        </div> <!--.barra-->
    
        <h3>Millones de hectáreas de bosque se pierden anualmente</h3>

    </div>
</header>